.text-3d {
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: 
    -1px -1px 0 #73fa89,
    1px -1px 0  #73fa89,
    -1px 1px 0  #73fa89,
    1px 1px 0 #555,
    2px 2px 0 #555,
    3px 3px 0 #555,
    4px 4px 0 #555,
    5px 5px 0 #555;
}