@tailwind base;
@tailwind components;
@tailwind utilities;

.text-3d {
  color: #2C2059;
  letter-spacing: 0.1em;
  text-shadow: 
    -1px -1px 0 #73fa89,
    1px -1px 0  #73fa89,
    -1px 1px 0  #73fa89,
    1px 1px 0 #555,
    2px 2px 0 #555,
    3px 3px 0 #555,
    4px 4px 0 #555,
    5px 5px 0 #555;
}

.blended-background {
  background-image: url('/H10.png');
  background-color: #2C2059; /* A shade of purple */
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}
/* in a separate CSS file or your global styles */
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}